<button><%= link_to 'Back', '/player' %></button>

<h3>Results:</h3>

<%= form_tag('/play', method: 'get') do %>
    <% @playlist_options.each do |playlist| %>
        <%= radio_button_tag :requested_playlist, playlist.uri %>
        <%= label :requested_playlist, playlist.name + ' - ' + playlist.owner.display_name %><br/>
    <% end %>
    <br/>
    <%= submit_tag('Play') %>
<% end %>