<button><%= link_to 'Back', '/player' %></button>

<h3>Results:</h3>

<div class="container-fluid">
  <%= form_tag('/play', method: 'get') do %>
      <div class="radio">
        <% @playlist_options.each do |playlist| %>
            <%= radio_button_tag :requested_playlist, playlist.uri %>
            <%= label :requested_playlist, playlist.name %>
        <% end %>
      </div>
      <%= submit_tag('Play') %>
  <% end %>
</div>